# Database configuration
DB_TYPE=sqlite
DB_FILE=data/processed/marketing_funnel_dw.db

# Postgres Configuration (when using Docker)
POSTGRES_DB=olist_dw
POSTGRES_USER=olist_user
POSTGRES_PASSWORD=olist_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Application Settings
APP_ENV=development
APP_PORT=8000
